<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>
  <main>
    <% if (products.length > 0){ %> 
      <ul class="cart__item-list">
        <%products.forEach(prodData => {%>
          <li class="cart__item">
            <h1><%=prodData.title%></h1>
            <h2>Quantity: <%=prodData.cartItem.quantity%></h2>
            <form action="/cart-delete-item" method="POST">
              <input type="hidden" name="productId" value="<%=prodData.id%>">
              <button type="submit" class="btn danger">Delete</button>
            </form>
          </li>
        <%});%>
      </ul>
    <% } else { %>
    <h1>No Products in Cart!</h1>
    <%} %>
  </main>
<%- include('../includes/end.ejs') %>